<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535683584633-dp93q5h1q0k65vspk776uviv91utj6ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535683584633-dp93q5h1q0k65vspk776uviv91utj6ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAY8nedepY45Oc_d1g0jKMzHImxYQqHGPk</string>
	<key>GCM_SENDER_ID</key>
	<string>535683584633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personalcoach.app</string>
	<key>PROJECT_ID</key>
	<string>personalcoach-3ac9a</string>
	<key>STORAGE_BUCKET</key>
	<string>personalcoach-3ac9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535683584633:ios:c271e7dd8b0362d2a07aa8</string>
</dict>
</plist>